[tool.poetry]
name = "things-cloud"
version = "0.1.0"
description = "Client for Things Cloud API"
authors = ["disrupted <hi@salomonpopp.me>"]

[tool.poetry.dependencies]
python = "^3.9"
loguru = "^0.5.3"
dataclasses-json = "^0.5.4"
orjson = "^3.5.3"
pydantic = "^1.8.2"
shortuuid = "^1.0.1"
httpx = "^0.22.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-mock = "^3.6.1"
pytest-clarity = "^1.0.1"
freezegun = "^1.1.0"
pre-commit = "^2.17.0"
flake8 = "^4.0.1"
black = "^22.1.0"
isort = "^5.10.1"
mypy = "^0.941"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
