[tool.poetry]
name = "things-cloud"
version = "0.1.0"
description = "Client for Things Cloud API"
authors = ["disrupted <hi@salomonpopp.me>"]

[tool.poetry.dependencies]
python = "^3.10"
orjson = "^3.8.2"
shortuuid = "^1.0.11"
httpx = "^0.23.1"
structlog = "^22.2.0"
attrs = "^22.1.0"
cattrs = "^22.2.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
pytest-mock = "^3.10.0"
pytest-clarity = "^1.0.1"
freezegun = "^1.2.2"
pre-commit = "^2.20.0"
flake8 = "^5.0.4"
black = "^22.12.0"
isort = "^5.11.3"
mypy = "^0.991"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
