name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: update/pre-commit-autoupdate
          title: "chore(deps-dev): auto-update pre-commit hooks"
          commit-message: "chore(deps-dev): auto-update pre-commit hooks"
          body: |
            Update pre-commit hooks to latest version
          labels: dependencies
          reviewers: disrupted
